  
  
 
   .main {margin: 0 auto; }
   .content {background: #fff; color: #373737;}
   .content > div {display: none; padding: 20px 25px 5px;}
 
   .main .tabin {display: none;}
   .tabla {display: inline-block; padding: 22px 25px; font-weight: 600; text-align: center; background: #0074A2; color:#fff;}
   .tabla:hover {color: #fff; cursor: pointer; background:#A3B745;}
   .tabin:checked + .tabla {background: #FFBA00; color: #fff;}
 
   #tab1:checked ~ .content #content1,
   #tab2:checked ~ .content #content2,
   #tab3:checked ~ .content #content3,
   #tab4:checked ~ .content #content4,
   #tab5:checked ~ .content #content5,
   #tab6:checked ~ .content #content6 {
     display: block;
     margin:0px;
     padding: 0px;
   }




       .onoffswitch {
        position: relative; width: 90px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
   td .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.1s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "Yes";
        padding-left: 10px;
        background-color: #34A7C1; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "No";
        padding-right: 10px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 56px;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.1s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}

* {
  -webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

b, strong {
    color: #666;
    font-size: 18px;
    font-weight: 700;
}


.wrap {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
    font-family: Lato;
    margin: 0px;
    overflow: hidden;
    padding: 40px 6%;
    width: 90%;
}

.wrap p{
  font-size: 19px;
  color:#777;
}

.wrap h3 {
    color: #666;
    font-size: 20px;
    text-align: left;
}


.wrap #hed3 {
    background-color: #4c7dba;
    height: auto;
    margin: 40px 0%;
    padding: 1px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    clear: left;
    border-radius: 10px;
}


#hed3 h3 {
    color: #FFFFFF;
    font-family: Montserrat,sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

 .wrap th
 {
  color :#666;
  font-size: 1.2em;
  padding-left: 15px;

 }


 .wrap td
 {
  padding-left: 40px;
 }
.wrap h3 a ,p a
{
  text-decoration: none;
}
.wrap td p
{
  color:#666;
  font-size:1.2em;
}
.wrap p.submit
{
  text-align: center;
}
.wrap input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.2);

  /* Webkit browsers*/
  -webkit-transform: scale(1.2);
}


.wrap input[type=number]{
  width:50px;
}
.wrap input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
}


.wrap input[type=range]::-moz-range-track {
    border-radius: 8px;
    height: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}
.wrap input[type=range]::-moz-range-thumb {
    background: #0074A2;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.wrap input[type=number] {-moz-appearance: textfield;}
.wrap input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none;}
.wrap input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;}




.wp-core-ui .button-primary {
    background: #00a0d2 none repeat scroll 0 0 !important;
    border: medium none !important;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1) !important;
    color: #fff !important;
    font-family: "Montserrat",sans-serif !important;
    font-size: 18px !important;
    height: 3rem;
    text-decoration: none !important;
    text-transform: uppercase !important;
    width: 22% !important;
}

.wp-core-ui .button-primary.focus, .wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover {
  background:#d99438 !important;
}

input[type="text"] {
  padding: 4px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
 input[type="text"]:focus,
 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


#left ,#right{
      width:45%;
      display: inline-block;
      float: left;
}

.title-encabezado {
    display: block;
}

.logo-empresa-admin {
    float: left;
    margin-bottom: 5px;
}

#description-empresa {
    float: left;
    margin-top: 25px;
}